<h2>Editing Picture</h2>

<%= render 'form', picture: @picture %>

<%= link_to 'Show', @picture, class: "btn btn-outline-danger" %>
<%= link_to 'Back', pictures_path, class: "btn btn-outline-danger" %>
